<% # for each menu cluster = [parent, child1, child2,...] %>
<% parent = menu_cluster.shift %>
<% unless menu_cluster.blank? %>
	<% #  menu cluster %>
	<div class="menu-box" id="wd_<%= parent.id %>" >
	    <h3 onclick="$(this).next().toggle()"><%= parent.name %></h3>
		<% # children part %>
		<div class="menu_body" id="cluster_<%= parent.id %>" style="display:block">
			<ul>
				<% menu_cluster.each do |menu| %>
				    <% parameters = ":menu_name1 => '#{parent.name} : #{menu.name}'"%>
					<% menu.parameters and parameters += ", #{menu.parameters}" %>
				    <% url = eval( "#{menu.url}( #{parameters} )" )%>
					<% target = menu.target_new ? "_new" : nil %>
					<li>
						<%= url ? link_to_unless_current( menu.name, url, :target=>target ): nil %>
					</li>
			    <% end %>
			</ul>
		</div>
		<!-- <div class="bottom"></div> -->
	</div>
	
<% end %>		
