<% # schedules of school bus diagrams %>

<div id="bus_schedules">
				 
	<%= render_collection %>

</div>

<br />

<%= render :partial => "set_lecture_days" %>

<br />

<%= button_to_back("スクールバス時刻表に戻る")%>
