<% # editor and mover of positions %>


		<table width="200" border="1">
		    <tr>
		        <td>
		        	<p><%= render :partial => "position_editor" %></p>
		        </td>
		    </tr>
		    <tr>
		        <td>
		        	<p><%= render :partial => "position_mover" %></p>
		        </td>
		    </tr>
		</table>			
