
<div id = "position_editor_for_edit" class = "position_editor">
	
	<%= render :partial => "tree_structure" %>
	
	<div id = "form_for_position_tree_edit" class = "form_for_position_tree">
	   <%= render :partial => "editing_position" %>
	</div>
	
</div>

