
<div id = "position_editor_for_move" class = "position_editor">
	
	<%= render :partial => "tree_structure_for_move" %>
	
	<div id = "form_for_position_tree_move" class = "form_for_position_tree">
	   <%= render :partial => "moving_position" %>
	</div>
	
</div>


