<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】ゼミ登録スケジュール一覧											#
# 【更新履歴】［作成］  2009/08/14  田村  初版作成					#
#             ［変更］  							#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#

%>


<div class="theses_form">
  <form id = "search">
	<!-- 年度 -->
	<%= render :partial => 'shared/select_academic_year' %>
     <br/><br/>						 	
  </form>
</div>

<%= observe_search %>

<br /><br />
				 
<%= render_collection  %>