<% # for mobiles %>

<div class="mobile-home">
            <br /><br /><br /><br />
			<%= link_to image_tag("mobile/mb_menu_sche.gif",:style=>"border:0px", :alt => "今日の予定"), :action => :schedules %>
			<br /><br /><br />
			<%= link_to image_tag("mobile/mb_menu_bus.gif", :border => 0, :alt => "バス時刻表"), :action => :bus_diagrams%>
			<br /><br /><br />
			<%= link_to image_tag("mobile/mb_menu_sira.gif",:style=>"border:0px", :alt => "シラバス"), :action => :courses %>　　　　 
			<br /><br /><br />
</div>