<% # detail of @syllabus %>

<table class="op-detail-inner">
	<%= render_entity_items @syllabus, @def_syllabus_items, @syllabus_render_items,
                               :detail => true, :prompt => true %>
</table>