<% # template for time_place_settings of article %>

<table> 
  <%= render_entity_items time_place_settings, @def_article_items, @time_place_setting_items, :detail => true, :prompt => true %>
</table>
