<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】user_info 更新された自己プロファイル									#
# 【更新履歴】［作成］  2010/05/07　田村				#
#             ［変更］ 					#
#                     								#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
%>

<h3 class="title">自己プロファイルが更新されました．</h3>

<%= render :partial => "shared/history/valid_span" %>

<table class="user_info_detail_link_table">
    <%= render_entity_items @entity, @def_items, @detail_items, :prompt => true, :detail => true %>
</table>