<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】group 詳細										#
# 【更新履歴】［作成］  2009/08/14　田村				#
#             ［変更］2010/01/22 田村					#
#                     								#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
%>


<%= render :partial => "shared/history/valid_span" %><%= button_to_history %>

<table class="user_info_detail_link_table">
    <%= render_entity_items @entity, @def_items, @detail_items, :prompt => true, :detail => true %>
</table>
