<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】groups 一覧表					#
# 【更新履歴】［作成］  2009/08/14  田村  初版作成					#
#             ［変更］ 2011/06/25　田村					#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#

%>

<div id="groups">
	<%= render :partial => "user_infos/user_or_group_infos" %>
</div>
