<% # all day long schedule template 
   # locals ... schedule %>


				<div class = "banner <%= color_for_article_type(schedule) %> pointer"  <%= remote_call_for_schedule_detail(schedule) %>>
					<span class = "te"><%= schedule.title %></span>
				</div>
