<% # buttons to move schedules %>
		<li>
			<%= render :partial => "button_to_today_schedule" %>
		</li>
		<li>
			<%= render :partial => "button_to_prev_schedule"%>
		</li>
		<li>
			<%= render :partial => "button_to_next_schedule"%>
		</li>
