<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】Ajax化したページネーションの部分テンプレート　　　　　　　　　　　　	#
#  locals                                                     #
#     :url		   cotrollerの処理メソッド			　　　　　　　　　　#
# 【更新履歴】［作成］  　2009/07/03  Tamura  初版作成					#
#             ［変更］  			                                        #
#                       ----/--/--  -------								#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	# %>


		<div class = "paginating cf">
			<p class="text">ページ</p>
            <%= remote_paginating_links(@collection, 
                                          :url    => url,
                                          :params => params)  %>
		</div>
