<% # main view when simulation mode is set %>


<div class="simulation_info1">
	<h2 class="change_show_time_h2">システムがシミュレーションモードに入ります．</h2>
</div>
<div class="change_show_time_info2">
	<p>以降，このシステム表示日時が実行日時となり，表示も入力もシミュレーションモードで扱われます．</p>
	<p>各コーナーで，過去，現在，あるいは未来のシステムでの操作をシミュレートできます．</p>
	<p style="color:red;">変更（追加，更新，訂正，削除）もシミュレートされます．　<button onclick="location.reload()">OK</button></p>
</div>