<div class="controle">
	<button>アーカイブ</button>
	<button>迷惑メールを報告</button>
	<button>削除</button>
	<select>
		<option>操作</option>
		<option>ラベルＡ</option>
		<option>ラベルＢ</option>
		<option>ラベルＣ</option>
	</select>
	<select>
		<option>ラベル</option>
		<option>ラベルＡ</option>
		<option>ラベルＢ</option>
		<option>ラベルＣ</option>
	</select>
	<select>
		<option>その他の操作</option>
		<option>既読にする</option>
		<option>未読にする</option>
		<option>スターを付ける</option>
		<option>スターをはずす</option>
		<option>ラベルＣ</option>
		<option>ラベルＣ</option>
	</select>
</div>