<% # for answer_response wise stochastics of answers %>

<tr><td>
	<table class = "op-detail-inner">
		<%= render_entity_items answer_response_wise_stochastic, @def_answer_response_wise_items, @answer_response_wise_items, :detail => true, :prompt => true  %>
	</table>
</td></tr>