<% # for element(= questionnaire) of stochastics_of_answers %>


<tr><td>
	<table class="op-detail-inner">	
		<%= render_entity_items question_wise_stochastic, @def_question_wise_items, @question_wise_items, :detail => true, :prompt => true  %>
	</table>
</td></tr>