<% # courses for mobile %>

<div id = "collection">

	<%= link_to(image_tag("mobile/mb_title.gif",:style=>"border:0px"),"/k") %><br />
	<%= image_tag("mobile/mb_menu_sira.gif",:style=>"border:0px") %>
	
	<%= render_collection%>

</div>