

<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】バス時刻表											#
# 【目的役割】バス時刻表のビューを定義する。							#
# 【コントローラ】controllers/bus_controller.rb							#
# 【更新履歴】［作成］  2007/02/04  t.onishi  初版作成					#
#             ［変更］ 2009/08/19　田村　変更　実は大分前から全面的改訂
#              [変更] 2011/08/11　田村　adminでデータ入力できるように			#
#                       ----/--/--  -------								#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
%>

<div id="bus_diagram">	
	<%= render_collection %>
</div>

