<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】論文発表スケジュール一覧											#
# 【目的役割】卒業論文，修士論文，博士論文の発表予定スケジュール一覧						#
# 【更新履歴】［作成］  2009/08/11  田村  初版作成					#
#             ［変更］  							#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#

#［BODYスタイル設定］
@body_style = "default_body"
%>


<div>
  <form id = "search">
	<!-- 年度 -->
	<%= render :partial => 'shared/select_academic_year' %>
	<%= hidden_field_tag :thesis_status, @thesis_status %>
     <br/><br/>						 	
  </form>
</div>

<%= observe_search %>

<div class="output-container">
				 
	<%= render_collection %>

</div>