<% # detail of help info %> 


<div  class="output-container" >
	<div class="op-set">
		<table class="op-table">
			<tr><td>
				<h3><%= @entity.name %></h3>
				<div class="msg-box">
					<%= @entity.content %>
				</div>
			</td></tr>
		</table>
	</div>
	
</div>