<% # new for report input %>


<h3 class="title"><%= @report.new_record? ? "新レポート作成" : "レポート更新" %></h3>

<br />
  
<% universal_remote_form_for @report do |form| %>
      <%= render_form_items form, @def_form_items, @form_items%>
	  <%= form.submit '実行する' %>
<% end %>
