<% # header part of layouts%>


<head>
	<%= render :partial=>'layouts/meta' %>
	<%= stylesheet_link_tag :all, :media=>"all" %>
	<%= javascript_include_tag :defaults, "uploader", "tiny_mce/tiny_mce",  "questionnaire", "assoc_target" %>
	<title>
		IntraSite2 <%= @menu_name %>
	</title>
</head>
