<% #-------------------------------------------------------------------	#
# ---------------------------------------------------------------------	#
# 【ファイル概要】meta・共有部分テンプレート							#
# 【目的役割】metaタグを定義する										#
# 【呼出元】[views/layouts] 内											#
#           [application.rhtml][login.rhtml][blank.rhtml]				#
#           の部分テンプレートとして呼び出される。						#
#																		#
# 【更新履歴】［作成］  2007/01/14  t.onishi  初版作成					#
#             ［変更］  ----/--/--  -------								#
#                       ----/--/--  -------								#
# ---------------------------------------------------------------------	#
# ---------------------------------------------------------------------	# %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="PRAGMA" content="NO-CACHE" />