<% # changing account_name and/or password form %>

<div class="output-container">
	<div class = "flash-notice">
		  自身のアカウント名とパスワードを変更することが出来ます.
		  <br />
		 （アカウント名を変えてもユーザ名は変わりません）．
	</div>
	<%= render :partial => "body_of_changing_password"%>

</div>

